
.button{
    background-color: purple;
    margin-left: 5%;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: #FF5722;
}
.a{
    color:purple;
}
.a:hover{
    color:#FF5722;
}
.button2{
    width:80%;
    padding: 10px 20px; 
    font-size: 16px; 
    border-bottom-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;  
}
.p{
    color:purple;
}
.button3 {
    
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    
}
.button4{
    width:30%;
    padding: 10px 20px; 
    font-size: 16px; 
    border-bottom-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;  
}
.letras{
    color:#11294d;
}