body {
    
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--glass-bg-color);
    background-color: var(--body-bg-color);
}

#sidebar-container {
    min-height: 200vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}



.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--tex-white);
}
.col-lg-9 col-md-8 h1{
    color: white;
} 
.font-weight-bold mb-0 {
    color:azure;
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  